.diagram-root {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
.diagram-buttons {
    font-size: 1.5em; /* like h2*/
    align-self: center;
    color: var(--vscode-menu-foreground);
}
.diagram-buttons:hover {
    color: var(--vscode-menu-selectionForeground);
}
.diagram-root h2 {
    margin: unset;
}
.diagram-widget {
    grid-column: 1 / 3
}