.property-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1em;
}
.panel-button {
  font-size: 1em;
  align-self: center;
  color: var(--vscode-menu-foreground);
}
.panel-button:hover {
  color: var(--vscode-menu-selectionForeground);
  border-radius: 30%;
}