.diagram-root {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1em;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
.diagram-button {
    font-size: 1.5em; /* like h2*/
    align-self: center;
    color: var(--vscode-menu-foreground);
}
.diagram-button:hover {
    color: var(--vscode-menu-selectionForeground);
    border-radius: 30%;
}
.diagram-button.data_node:hover {
    background-color: var(--taipy-datanode-color);
}
.diagram-button.task:hover {
    background-color: var(--taipy-task-color);
}
.diagram-button.pipeline:hover {
    background-color: var(--taipy-pipeline-color);
}
.diagram-button.scenario:hover {
    background-color: var(--taipy-scenario-color);
}
.diagram-root h2 {
    margin: unset;
}
.diagram-widget {
    grid-column: 1 / 4
}
.diagram-widget>div {
    height: 100%
}
.diagram-icon-group {
    display: flex;
}
.diagram-icon-group>div {
    margin-left: 0.5em;
}