@font-face {
  font-family: 'taipy-icons';
  src:  url('./fonts/taipycons.woff?h6hfy9') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="taipy-icon-"], [class*=" taipy-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'taipy-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.taipy-icon-task:before {
  content: "\e908";
}
.taipy-icon-task-add:before {
  content: "\e907";
}
.taipy-icon-pipeline:before {
  content: "\e903";
}
.taipy-icon-pipeline-add:before {
  content: "\e902";
}
.taipy-icon-scenario:before {
  content: "\e906";
}
.taipy-icon-scenario-add:before {
  content: "\e905";
}
.taipy-icon-datanode:before {
  content: "\e90a";
}
.taipy-icon-datanode-add:before {
  content: "\e909";
}
.taipy-icon-database:before {
  content: "\e901";
}
.taipy-icon-database-add:before {
  content: "\e900";
}
.taipy-icon-relayout:before {
  content: "\e904";
}
.taipy-icon-cycle:before {
  content: "\e90b";
}
.taipy-icon-job:before {
  content: "\e90c";
}
.taipy-icon-flag:before {
  content: "\e90d";
}
.taipy-icon-scope:before {
  content: "\e90e";
}
